<% content_for :nav do %>
	<li class="active"><%= link_to "View decks", decks_path %></li>
<% end %>

<div class="offset1">
	You're currently studying the <a href="<%= deck_path(@deck) %>"><b><%= @deck.name %></b></a> deck.<br><br>
	<i class="icon-pencil"> <%= link_to "Edit card", edit_deck_card_path(@deck, @cards[0]) %></i>
	&nbsp;&nbsp;<i class="icon-trash"> <%= link_to "Delete", deck_card_path(@deck, @cards[0]), method: :delete, :confirm => "Are you sure?" %></i>
</div>

<div class="card-show">	
	<br><br>
	<div style="font-size: 42px;"><%= @cards[0].front %></div><br>
	
	<div class="modal hide fade" id="myModal">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3><%= @cards[0].front %></h3>
	  </div>
	  <div class="modal-body">
	    <p><%= @cards[0].back %></p>
	  </div>
	  <div class="modal-footer">
			<a class="close btn" data-dismiss="modal">Close</a>
	  </div>
	</div>

	<a class="btn-primary btn" data-toggle="modal" href="#myModal" >See Answer</a>
	<%= will_paginate @cards %>
</div>





