<div class="offset1">
	<i class="icon-pencil"> <%= link_to "Edit card", edit_deck_card_path(@deck, @card) %></i>
	&nbsp;&nbsp;<i class="icon-trash"> <%= link_to "Delete", deck_card_path(@deck, @card), method: :delete, :confirm => "Are you sure?" %></i>
</div>

<div class="card-show">	
	<br><br>
	<div style="font-size: 42px;"><%= @cards[0].front %></div><br>
	
	<div class="modal hide fade" id="myModal">
	  <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3><%= @cards[0].front %></h3>
	  </div>
	  <div class="modal-body">
	    <p><%= @cards[0].back %></p>
	  </div>
	  <div class="modal-footer">
			<a class="close btn" data-dismiss="modal">Close</a>
	  </div>
	</div>

	<a class="btn-primary btn" data-toggle="modal" href="#myModal" >See Answer</a>
	<%= will_paginate @cards %>
</div>





