<% content_for :nav do %>
	<li class="active"><%= link_to "View decks", decks_path %></li>
	<li class="active"><%= link_to "Add card", new_deck_card_path(@deck) %></li>
<% end %>

<div class="offset1">
<h2 class="lead"><%= @deck.name %></h2>

<ol>
<% @cards.each do |card| %>
	<div><li>
		<%= link_to card.front, [@deck, card] %>
		
		<div class="edit-delete">
		&nbsp;&nbsp;<i class="icon-pencil"> <%= link_to "Edit", edit_deck_card_path(@deck, card) %></i>
		&nbsp;&nbsp;<i class="icon-trash"> <%= link_to "Delete", [@deck, card], method: :delete, confirm: "Are you sure?" %></i>
	</li></div>
		</div>
<% end %>
</div>
</ol>